.product
	width 285px
	background-color rgba(255, 255,255, 0.5)
	&:hover
		-webkit-box-shadow: 15px 11px 80px 23px rgba(224,224,224,1);
		-moz-box-shadow: 15px 11px 80px 23px rgba(224,224,224,1);
		box-shadow: 15px 11px 80px 23px rgba(224,224,224,1);
		transition 0.35s
.products-item__img
	max-width 100%
	height auto
.guitar_img_container
	width 200px
	height 305px

.product-item
	&__name
		font-family Butler
		color #212121
		font-size 1.375rem
		font-weight 700
		line-height 2.5
	&__price
		font-family Butler
		color #212121
		font-size 1.375rem
		font-weight 500
		line-height 2.5
	 