.product
	width 285px
	background-color rgba(255, 255,255, 0.5)
	border-radius 10px
	&:hover
		-webkit-box-shadow: 15px 11px 80px 23px rgba(224,224,224,1);
		-moz-box-shadow: 15px 11px 80px 23px rgba(224,224,224,1);
		box-shadow: 15px 11px 80px 23px rgba(224,224,224,1);
		transition  all 0.5s ease-out
		transform scale(1.1)
		
.products-item__img
	max-width 100%
	min-width 90%
	height auto
	

.guitar_img_container
	width 200px

.product-item
	&__name
		font-family Butler
		color #212121
		font-size 1.275rem
		font-weight 700
		line-height 2.5
		
	&__price
		font-family Butler
		color #212121
		font-size 1.375rem
		font-weight 500

.product
	display flex
	&_content
		flex 2.1 1
		display flex
		flex-direction column
		padding-left 10%
.guitar_img_container
	flex 1.8 1

.product
	&:hover
		.product_content
			.product-item__name
				font-size 1.1rem
.product
	&_content
		opacity 0

.product
	&:hover
		.product_content
			 opacity 1
			
			
.video-container
		overflow hidden
	

.product_items
	flex: 1.5 1
	display: flex
	flex-direction: column
	justify-content: flex-end
	
	
	
.product-item_icons
	display: flex
	flex: 1 1
	align-items: center
	
.items_icons
	display flex
	border-radius 3px
	border-width: 1px;
	border-color #000000
	border-style solid
	opacity 0.6
	width 110px
	height 31px
	justify-content space-around
	align-items center
	
.items
	&__item-buy
		cursor pointer
		width 40px
	&__item-like
		display flex
		cursor: pointer;
		background-image:url(  'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
		background-position: left;
		background-repeat:no-repeat;
		background-size:2900%;
		width 52px
	&__item-like
		& img
			cursor pointer
			align-self center
		&:after
			border-right 1px solid #000
			content ''
			display: inline-block
			width: 60px
			height 30px
		&:hover
			background-position:right
.animating
		animation: heart-burst .8s steps(28) 1
@keyframes heart-burst
	from
		background-position:left
	to
		background-position:right

		
		
				