mixin products-item(...items)
	.product(class="product_#{attributes.class}")
		each item in items
			.guitar_img_container
				img.products-item__img(src= "./" + item.img)
			.product-item__name=item.name
			.product-item__price=item.price













