include ../service-desctiption/service-desctiption
include ../service-img/service-img
include ../featured-container/featured-container
include ../gallery-guitar/gallery-guitar
include ../popular-products/popular-products
include ../products-item/products-item
mixin content-products(src, name, price)
	img(src= src)
	div.name= name
	div.price= price

mixin second-container()
	+b.second-container&attributes(attributes)
		+e('h3').name-section
			| Service
		+e.service-container
			+service-desctiption()
			+service-img()
		+featured-container()
			+e('h3').name-section
				| Featured Collections
			+e.gallery
				each item in [{name}, {name}]
					+gallery-guitar( item )
		+b.popular-products()
			+e('h3').name-section
				|Popular Products
			+e.products-item
				+products-item({img:'../assets/img_gallery_first.png', name: 'Electric Guitar', price: '$450'})(class="first_guitar")
				+products-item({img:'../assets/img_gallery_two.png',name: 'String Guitar', price: '$350'})(class="two_guitar")
				+products-item({img:'../assets/img_gallery_three.png',name: 'Nylon Guitar', price: '$150'})(class="three_guitar")
				+products-item({img:'../assets/img_gallery_four.png',name: 'Acoustic Guitar', price: '$250'})(class="four_guitar")


















