mixin blog-item(...items)
	+e.blog-item&attributes(attributes)
		each item in items
				+e.block-content
					.name-post= item.name
					.name-heading= item.headpost
					p.content-post= item.postcontent
					+b.data-post
						+e('img').img_time(src='./../assets/comment.png')
						+e.time-post= item.timepost
						+e('img').img_time(src='./../assets/clock.png')
						+e.comment-post= item.comments
					a.button-post= item.button


