include ../block-expression/block-expression
include ../radius-button-component/radius-button-component

mixin guitar-slider()
	+b.guitar-slider&attributes(attributes)
		+block-expression()
		+radius-button-component()
	+e.arrows-block
		+e.arrows
			.box_img-arrow
				img(src='./../assets/guitar_arrow.png')
			+e.arrow


