

@font-face {
	font-family: 'butlerblack';
	src: url('../fonts/butler_black-webfont.woff2') format('woff2'),
		url('butler_black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}




@font-face {
	font-family: 'butlerbold';
	src: url('../fonts/butler_bold-webfont.woff2') format('woff2'),
		url('butler_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}




@font-face {
	font-family: '../fonts/butlerextrabold';
	src: url('butler_extrabold-webfont.woff2') format('woff2'),
		url('butler_extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}




@font-face {
	font-family: '../fonts/butlerlight';
	src: url('butler_light-webfont.woff2') format('woff2'),
		url('butler_light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}




@font-face {
	font-family: '../fonts/butlermedium';
	src: url('butler_medium-webfont.woff2') format('woff2'),
		url('butler_medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}




@font-face
	font-family: '../fonts/butlerregular';
	src: url('butler_regular-webfont.woff2') format('woff2'),
		url('butler_regular-webfont.woff') format('woff')
	font-weight normal
	font-style normal
	




@font-face {
	font-family: '../fonts/butlerultralight';
	src: url('butler_ultra_light-webfont.woff2') format('woff2'),
		url('butler_ultra_light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}