.half_container
    background url("../../guitar.png")
    background-repeat no-repeat
    height 808px
    width: 100%
    background-size 130% 105%
@media screen and (min-width: 1500px)
    .half_container
          background-size cover




