.half_container
    background url("../../guitar.png")
    background-repeat no-repeat
    background-size cover
    //height 808px
    width: 100%
    background-attachment fixed
@media screen and (min-width: 1500px)
    .half_container
          background-size cover




