.about-container
	margin 5% auto
	max-width 1170px
	display flex
	align-items center
	flex-direction: column
	flex-wrap wrap
	&__name-section
		
		font-size 2.8rem
		color #000
		font-weight 700
		font-family Butler
	&__about-history
		padding-top 7%
		display flex
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
