.blog-container
	display flex
	flex-direction column
	align-items center
	max-width 1170px
	margin 0 auto
	padding-bottom 7%
	&__blog-name
		font-size 2.8rem
		color #000
		font-weight 700
		font-family Butler
	&__blog-items
		display flex
		flex-wrap wrap
		margin-top 3%
		margin-bottom 3%
	&__blog-item:nth-child(1)
		background-image url('../blog_img_1.png')
	&__blog-item:nth-child(2)
		background-image url('../blog_img_2.png')
	&__blog-item:nth-child(4)
		background-image url('../blog_img_1.png')
	&__blog-item:nth-child(3)
		background-image url('../blog_img_2.png')
	&__blog-item
		background-repeat no-repeat
		background-size cover
		padding-left 5%
		min-height 540px
		margin 0.2%
		display flex
		flex 1 1 49%
		border-radius 2%
		align-items center
	&__button-show
		
		text-transform uppercase
		display block
		text-align center
		line-height 3.4
		background-color #4933f2
		box-shadow 0px 15px 34px 6px rgba(73, 51, 242, 0.22)
		width 170px
		height 54px
		color #fff
		text-transform uppercase
		font-family Butler
		cursor pointer
		
		
.overflow_blog-item
	overflow hidden
	height 545px
	
@media screen and (max-width: 850px)
	.blog-container__blog-item
		flex 100%
		
		