mixin menu-footer(...items)
	+b.menu-footer&attributes(attributes)
			+e('ul').menu
				each item in items
					+e('li')(class='item-' + item.itemclass)
						a.menu-item(href=item.refs)=item.name




