.menu-footer
	&__menu li a
		text-decoration none
		
.menu-item
	font-family Butler
	color: #212121
	font-size 1rem
	font-weight 400
	line-height 1.5

.menu-footer

	&__heading-menu
		padding-bottom 1%
		font-family Butler
		font-size 1.5rem
		font-weight 700
		line-height 1
	&__menu
		margin-top 10%

.footer
	background-color:  #f2f2f2
	&__content
		padding-top: 4%
	&__logo
		border-width: 2px
		border-color:  #4933f2
		border-style: solid
		width: 89px
		height: 27px
		text-align: center
		line-height: 1.5
		

.footer
	&__container-menu
		display flex
		justify-content space-around
		padding-top 3%
		padding-bottom 5%

.footer
	&__heading-contacts, &__heading-social
		padding-bottom 1%
		font-family Butler
		font-size 1.5rem
		font-weight 700
		line-height 1
	&__email-contacts
		font-family Butler
		color: #212121
		font-size 1rem
		margin-top 10%
		font-weight 400
		line-height 1.5
.container-logo
	margin-left auto
	margin-right auto
	width 80.8%
	
.footer
	&__social-contacts
		display flex
		flex-direction column
		
	&__contacts
		flex 1
	&__social-icon
		flex 1
		