.block-expression
	margin-left auto
	margin-right auto
	&__slug-tune
		font-size 4vw
		color rgb(33,33,33)
		max-width 55%
		min-width 10
		padding-bottom 4%
	&__button
		margin-top auto
		font-size 1.3vw
		text-transform uppercase
		display flex
		cursor pointer
		width 220px
		height 54px
		border-radius 6px
		box-shadow 0px 15px 40px rgba(73,51,242,0.22)
		background-color #4933f1
		align-items center
		justify-content center
		color #fff


