mixin block-expression()
	+b.block-expression&attributes(attributes)
		.overflow
			#overflow-inner
				+e('div').slide-text
					.slide
						+e('h4').slug-tune
							| Tune your melody that all may perceive.
						+e('a').button
							| View Collection
				+e('div').slide-two
					.slide
						+e('h4').slug-tune
							| Melody nice and cool turn this.
						+e('a').button
							| View Collection

				+e('div').slide-three
					.slide
						+e('h4').slug-tune
							| Melody colls musics onsgfgfhg.
						+e('a').button
							| View Collection

				+e('div').slide-four
					.slide
						+e('h4').slug-tune
							| Melody nice and cool turn this.
						+e('a').button
							| View Collection

				+e('div').slide-five
					.slide
						+e('h4').slug-tune
							| Melody nice and cool sdfsdf.
						+e('a').button
							| View Collection
