.block-expression
	margin-left auto
	margin-right auto
	&__slug-tune
		font-family Butler
		color: #212121
		font-size 3rem
		max-width 55%
		min-width 10
		padding-bottom 4%
	&__button
		margin-top auto
		font-size 1rem
		font-family butler
		line-height 3
		font-weight 700
		text-transform uppercase
		display flex
		cursor pointer
		width 220px
		height 54px
		border-radius 6px
		box-shadow 0px 15px 40px rgba(73,51,242,0.22)
		background-color #4933f1
		align-items center
		justify-content center
		color #fff
		cursor pointer


