mixin radius-button-component()
	+b('ul').radius-button-component&attributes(attributes)
		+e('li').radio
			label.control.control--radio
				input(type='radio' name='radio' checked)
				.control__indicator
		+e('li').radio
			label.control.control--radio
				input(type='radio' name='radio' checked)
				.control__indicator
		+e('li').radio
			label.control.control--radio
				input(type='radio' name='radio' checked)
				.control__indicator
		+e('li').radio
			label.control.control--radio
				input(type='radio' name='radio' checked)
				.control__indicator
		+e('li').radio
			label.control.control--radio
				input(type='radio' name='radio')
				.control__indicator

