mixin dataname( data )
	+e.dataname= data.row



mixin gallery-guitar(data)
	+b.gallery-guitar&attributes(attributes)
		+e.guitar-item= data.name
			+dataname({row:'adasd'})
		+e.guitar-item= data.name



