mixin link(url)
	+b('a').view__button(href=url)
		block

mixin gallery-guitar(...items)
	+b.gallery-guitar&attributes(attributes)
		each item in items
				+e.guitar-item
					+b.item_guitar= item.name
					+link('#') View Content






