.footer
	&__content
		max-width 1170px
		margin 0 auto
.icons
	&_fonts
			a
				text-decoration none
.icons_fonts
	margin-top 23%
	
#social
	color #fff
	border-radius: 2px
	background-color: #454545
	width: 25px
	height: 22px
	text-align: center
	line-height: 1.4
	&:hover
			background-color:  #4933f2
			box-shadow: 0px 0px 24.65px 4.35px rgba(73,51,242,0.23)
.social-icons
	&_facebook
		fa(facebook)
		font-size 1rem
	&_twitter
		fa(twitter)
		font-size 1rem
	&_instagram
		fa(instagram)
		font-size 1rem
	&_google
		fa(google-plus)
		
		