include ../menu-footer/menu-footer
include  ../newsletter-email/newsletter-email

mixin footer()
	+b.footer&attributes(attributes)
		+e.content
			.container-logo
				+e.logo
					img(src='./img/logo.png')
			+e.container-menu
					+menu-footer(
						{itemclass:'search',refs:'#', name:'Search'},
						{itemclass:'contact',refs:'contact.html', name: 'Contact'},
						{itemclass:'about',refs:'about.html', name: 'About'},
						{itemclass:'shipping',refs: 'delivery.html', name:'Shipping'},
						{itemclass:'terms',refs: 'terms.html', name: 'Terms and Conditions'}
						)
					+e.social-contacts
						+e.contacts
							+e('h4').heading-contacts Get in touch
							+e('p').email-contacts customers@musica.com
						+e.social-icon
							+e('h4').heading-social Social
							.icons_fonts
									-var icons = [{social:'facebook',link: 'http://facebook.com'}, {social:'twitter',link: 'http://twitter.com'}, {social:'instagram',link: 'http://instagram.com'}, {social:'google',link: 'http://google.com'}]
									for icon in icons
											a#social(class='social-icons_'+ icon.social)(href= icon.link)


					+newsletter-email()









