mixin service-desctiption()
	+b.service-desctiption&attributes(attributes)
		+e('h4').read-name The strange saga <br> of gibsons multi-col
		+e('p').read-description The story of the Firebird cannot be told with completeness without looking back just a few years before its inception. Step into the blue phoS-335 (the world’s first production thin-line semi hollow), and if that’s not enough, add the Ke ultimate obscurity the “Gumby-shaped” Gibson Moderne, here.
		+e('a').read-button read more
